body {
  width: 800px;
  margin: auto;
  font-family: helvetica;d
}

header {
    background-color: #2D2D2D;
    overflow: hidden;
}

header a {
  text-decoration: none;
  color: white;
}

#site-nav li {
  float: left;
  padding: 20px;
  font-size: 1.5em;
  font-family: 'Droid Sans', sans-serif;
  font-weight: 700;
}
#social-nav {
  float: right;
}
#social-nav li {
  display: inline-block;
  padding: 15px 20px;
  font-size: 2em;
}

#site-nav  a li {
  color: #878787;
  border-top: 5px solid black;
  text-transform: uppercase;
}
#site-nav  a li:hover,
#site-nav  a li.active{
  color: white;
  border-top: 5px solid white;
}

/* BANNER STYLING */
#banner {
  position: relative;
  overflow: hidden;
  height: 500px;
}
#banner aside {
  position: absolute;
  top: 0;
  color: white;
  background-color: rgba(58, 58, 58, 0.7);
  width: 250px;
  height: 100%;
  box-sizing: border-box;
  padding: 50px 20px;
}
aside h2 {
  font-size: 2em;
  text-align: center;
}
.hline {
  height: 2px;
  background-color: white;
  width: 70%;
  margin: 10px auto 15px;
}
.hline.black {
  background-color: black;
  width: 20%;
  margin-bottom: 30px;
}

aside p {
  font-size: 1.2em;
  line-height: 1.2em;
  margin-bottom: 20px;
}
.red-btn {
  width: 75%;
  margin: auto;
  border: none;
  background-color: #E00000;
  color: white;
  padding: 7.5px;
  text-transform: uppercase;
  font-size: 1.2em;
  display: block;
  cursor: pointer;
  font-weight: 600;
}
.red-btn:hover {
  background-color: #A00000;
}

#slider-circles {
  position: absolute;
  bottom: 20px;
  text-align: center;
  left: 35%;
}
#slider-circles li {
  display: inline-block;
  cursor: pointer;
}
#slider-circles .circle {
  border-radius: 100%;
  border: 2px solid white;
  width: 20px;
  height: 20px;
  margin: 5px;
}
#slider-circles .circle.active {
  background-color: white;
}

/* MAIN CONTENT */
main {
  background-color: #EAEAEA;
}

h3 {
  text-align: center;
  font-size: 2em;
  margin: 30px auto 20px;
}

.kitten-feature {
  overflow: hidden;
  width: 750px;
  margin: 20px auto;
}
.kitten-feature article {
  float: left;
  width: 350px;
  margin: 0px 10px;
}

.kitty-details {
  background-color: #3A3A3A;
  color: white;
  height: 300px;
  padding: 20px;
  box-sizing: border-box;
}

.kitty-details h4 {
  font-size: 1.7em;
  margin: 0 0 10px;
  font-weight: 100;
}

.kitty-details .hline {
  width: 40%;
  margin: 0 0 20px;
}

.kitty-details li {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.4em;
}

.kitty-details p {
  font-size: 1.3em;
  font-weight: 100;
  line-height: 1.1em;
  margin-top: 30px;
}

footer {
  color: white;
  background-color: #3a3a3a;
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
}

.kitten-feature {
  overflow: hidden;
  width: 750px;
  margin: 20px auto 0px;
  padding-bottom: 20px;
}

nav i:hover {
  opacity: 0.5;
}
